 nav { background: #bc986a;
     color: #ffffff;
     list-style: none;
     text-align: center;
     padding: 5px 0 5px 0;  
     border-radius: 25px;
    }
      
nav li { display: inline-block; 
    padding-right: 50px;
      }
      
nav a { text-decoration: none; 
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    text-shadow: .2em .2em .3em black;
      }
      
nav a:hover { color: #c1c1c1;
      }

h1 {
    text-transform: capitalize;
    text-shadow: .2em .2em .3em black;
    color: #eee;
}

h2 {
    color: #eee;
    margin-top: 4em;
}

p {
    color: #eee;
    font-size: 20px;
    padding: .3em;
    margin-left: 10%;
}

img {
    float: right;
    border-radius: 10px;
    margin-right: 10%;
    max-width: 40%;
    
}