      nav { background: #595959; color: #ffffff; list-style: none; text-align: center; padding: 20px 0 20px 0;    
      }
      
      nav li { display: inline-block; padding-right: 50px;
      }
      
      nav a { text-decoration: none; color: #ffffff; text-transform: uppercase; font-size: 24px;
      }
      
      nav a:hover { color: #c1c1c1;
      }
      
